# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_RAW=raw
MINIO_BUCKET_STAGING=staging
MINIO_BUCKET_CURATED=curated

# Prefect
PREFECT_API_URL=http://localhost:4200/api
